.bp-heading{
    padding: 20px;
    font-size: 2rem;
}

.bp-first-div{
    width: 50%;
    margin: 0 auto 30px;
    text-align: center;
}

.bp-select{
    display: inline-block;
    width: calc(53% - 10px);
    text-align: left;
    margin: 5px;
    font-size: 1.2rem;
}

.bp-label{
    display: inline-block;
    width: 35%;
    text-align: left;
    font-size: 1.4rem;
    margin: 0 20px;
}

.bp-input{
    padding: 5px;
    width: 50%;
    text-align: left;
    margin: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0.5px solid;
}

.bp-num-input{
    padding: 5px;
    width: 50%;
    text-align: right;
    margin: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0.5px solid;
}

.bp-input:disabled{
    background-color: rgba(128, 128, 128, 0.4);
}

.bp-num-input:disabled{
    background-color: rgba(128, 128, 128, 0.4);
}

.lb-buttons{
    font-family: 'Times New Roman', Times, serif;
    font-weight:600;
    font-size: 1.2em;
    padding: 5px 10px;
    min-width:15%;
    margin: 30px 20px;
    border: 0;
    border-radius: 5px;
}

.update{
    background-color: rgb(55, 146, 226); 
}

.update:hover,
.update:focus{
    background-color: rgb(119, 192, 255); 
}

.generate{
    background-color: rgb(23, 197, 0);
}

.generate:hover,
.generate:focus{
    background-color: rgb(80, 252, 0);
}

